<div class="centered-content d-flex justify-content-center align-items-center">
    <div class="bg-light d-flex col-6 border-radius">
        <div class="lists p-5 col-4">
            <h2>Lists</h2>
    
            <div class="height-set">
                    <ul class="list-unstyled ms-2 d-flex flex-column justify-content-between" style="height: 100%;" >
                        <li class="p-1 is-active">Frontend</li>
                        <li class="p-1">Backend</li>
                        <li class="p-1">Server Tasks</li>
                        <li class="p-1">Server Tasks</li>
                    </ul>
            </div>

            <button class="btn add-list w-100">+ List</button>
        </div>
    
        <div class="tasks p-5 col-8 border-radius-right" style="background-color: rgb(236, 236, 236);">
            <h2>Tasks</h2>
    
            <div class="height-set">
                <div class="d-flex flex-column justify-content-between" style="height: 100%;">
                    <div class="task">
                        <p>This is a task</p>
                    </div>

                    <div class="task complete">
                        <p>This is a task</p>
                    </div>

                    <div class="task">
                        <p>This is a task</p>
                    </div>
                </div>
            </div>

            <div class="add_task">
                <button class="add_task-button">+</button>
            </div>
        </div>
    </div>

</div>